$accentColor = #f9d79a
$textColor = #1D1D1D
$borderColor = #f9d79a
$codeBgColor = #1D1D1D

.front {
    //background-image url('/front.jpg')
    background-size: cover
    padding-top: 15%;
}

.sidebar {
    background-color: #1D1D1D;
}

h1, h2, h3 {
    border-bottom: none !important;
}

.content h1:after,.content h2:after,.content h3:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 0; /* This will center the border. */
    width: 5%; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 3px solid #1D1D1D; /* This creates the border. Replace black with whatever color you want. */
}

body
   overflow-x: hidden !important;  
   background-color: #1D1D1D;
   color: #fff !important;

@media (min-width: 1000px)
    .front
        max-height: 100%;
    .home .features 
        margin-bottom: 170px !important;
        margin-top: 100px;


@media  (max-width:999px) 
    .content.custom 
    
        background: #1D1D1D;
        position: absolute;
        padding: 20px 30px 0 20px !important;
        margin: 0;
        max-width: 100%;
        left: 0;
        overflow-x: hidden !important;



.home .hero, .home .description, .home .feature h2, .home .feature p{
    color: #f9d79a !important;
}

.action-button {
    background-color: #1D1D1D !important;
    border: 2px solid #f9d79a !important;

}
.action-button:hover {
    background-color: #f9d79a !important;
    color: #1D1D1D !important;
    transform: scale(1.1);
    transition: transform 2s;
}

.sidebar {
    color: #fff
}

.sidebar a {
    color: #fff
}

.sidebar-links {
    background-color: #1D1D1D;
    border-top: 1px solid #1D1D1D;
    border-bottom: 1px solid #1D1D1D;
    margin-top: 60px !important
}

.sidebar .nav-links {
    background-color: #1D1D1D;
    border-top: none;
    border-bottom: 1px solid #f9d79a;
    color: #fff;
}

.theme-container .sidebar {
  background-color: #1d1d1d;
}

.theme-container .search-box input,
.theme-container .search-box .suggestion a {
  color: #f9d79a;
}

.theme-container .content code {
  background-color: #2e3d44;
}

.navbar {
    background-color: #1D1D1D !important;
}

.site-name {
    color: #fff !important;
}

.nav-links, .nav-links a:hover, .nav-links a.router-link-active {
    color: #fff;
}

.search-box {
    display: inline-block;
    position: absolute;
    right: -15rem;
}

.navbar .links {
    font-size: 0.9rem;
    position: absolute;
    right: 16.5rem;
    top: 0.7rem;
}